.erro{
    color: red;
}
input{
    padding: 3px;
    font-size: 10pt;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 20px;
}
h3{
    color: red;
    font-size: 20pt;
}
p input{
    width: 200px;
    padding: 3px;
    height: 20px;
    border-color: red;
    color: black;
}
.xuatthongtin{
    padding: 6px;
    border: 6px double orange;
    word-wrap: break-word;
    font-size: 10pt;
    color: green;
    font-weight: bold;
}
.main_txt_area{
    padding: 10px;
}
.thongtin{
    float: left;
    margin-left: 20px;
}
.tong{
    width: 100%;
    float: left;
}
*{
    box-sizing: border-box;
}